section.overlay
section.modal-window
	button.close-modal
		svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='32px', height='32px', viewBox='0 0 512 512', xml:space='preserve')
			polygon#x-mark-icon(points='438.393,374.595 319.757,255.977 438.378,137.348 374.595,73.607 255.995,192.225 137.375,73.622 73.607,137.352 192.246,255.983 73.622,374.625 137.352,438.393 256.002,319.734 374.652,438.378 ')
	article.message.success
		svg#cricket(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='-255 347 100 100', enable-background='new -255 347 100 100', xml:space='preserve')
			circle(cx='-200.5', cy='365.8', r='7.2')
			path(d='M-198.5,403.6l-7.2,13.7l-17.7,11.9l3.7,8.5l21.7-15.1l6.7-14.2l13.7,7.9l1.5,21.3h7.6v-25.9l-18.6-12.8l-4.3-22.3 c0,0-3.7-4.6-10.7-1.8l-9.8,4.9l-8.2,15.6l6.3,2l7.9-13l4.1-1.2l1.5,5.8l-2.8,5.3l-12.7,1.7l-0.5,7.2l16.1-4.8l1.8-3.4l-0.2,6.4')
			polyline(points='-219.6,391 -247.2,377.5 -251.1,384.8 -224.1,398.3 ')
			polyline(points='-224.5,396.3 -215.9,400.9 -214.6,395.7 -221.6,392.2 -224.5,397.2 ')
			circle(cx='-166.7', cy='401.8', r='4.1')
		p.message-text
			| Thank you for signing up!
	article.message.failure
		svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', width='32px', height='32px', viewBox='0 0 512 512', xml:space='preserve')
			polygon#x-mark-icon(points='438.393,374.595 319.757,255.977 438.378,137.348 374.595,73.607 255.995,192.225 137.375,73.622 73.607,137.352 192.246,255.983 73.622,374.625 137.352,438.393 256.002,319.734 374.652,438.378 ')
		p.message-text
			| Oops! something went wrong, we're looking into it.

footer

//JAVASCRIPT FRAMEWORKS

//__Built script containing all vendors such as JQuery
script(type='text/javascript', src="build/js/vendors.min.js")

//JAVASCRIPT CUSTOM
script(type='text/javascript', src="build/js/index.js")