include ./includes/header

body
	section.splash
		img.soch-logo(src="/build/img/logo.png")
		h1.soch-subtext India. It's time to start <em>thinking</em>.
		input#subscribe(type="text", placeholder="")
	include ./includes/footer
