include ./includes/header

body
	section.splash
		img.soch-logo(src="/build/img/logo.png")
		h1.soch-subtext India. It's time to start <em>thinking</em>.
	section.cta
		h2.cta-text Signup below to be alerted when the revolution starts
		input.cta-input(type="text", placeholder="email")
		button.cta-button Let's do this
	include ./includes/footer
