global-reset()

html
	h1, h2, h3, h4, h5, h6, span, li
		opacity 0
		transition opacity 0.8s ease-out-cubic
	

.wf-loading
	h1, h2, h3, h4, h5, h6, span, li
		opacity 0
		
.wf-active
	h1, h2, h3, h4, h5, h6, span, li
		opacity 1

	
body
	background-image url(../img/bg_small.jpg)
	background-position 50% 0
	font-family "museo-slab", serif
	font-weight 300
	padding 30px

section.splash
	.soch-logo
		display block
		margin 50px auto
		width 200px
		height 200px


	h1
		display block
		text-align center
		color white
		margin 100px auto
		font-size 2em
		font-weight 300
		em 
			font-weight 300
			font-style italic
			color #ffbb04
